<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="301 to doolb in github">
                    <match url=".*" />
                    <action type="Rewrite" url="https://asing1001.github.io/doolb/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>