<!DOCTYPE html>
<html lang="" ng-app="acToolsApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>輸血計算機 Blood Transfusion Calculator</title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../css/common.css">
	</head>
	<body ng-controller="calculatorCtrl">
		<!-- Google Tag Manager -->
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WBGSXM"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-WBGSXM');</script>
		<!-- End Google Tag Manager -->
		<div class="container">
			<div class="row page-header">
				<div class="col-lg-3"><img src="../images/doolbLogo.png" class="img-responsive" alt="Responsive image"></div>
				<div class="col-lg-6">
					<h3>Blood Transfusion Calculator </h3>
				</div>
				<div class="col-lg-12 text-danger"><small><small>此頁面僅供參考，非提供醫療建議，請依據實際臨床狀況調整。</small></small></div>
			</div>
			<form name="outerForm" class="tab-form-demo">
				<uib-tabset active="activeForm">
				<uib-tab index="0" heading="For Dog">
				<div class="col-lg-6">
					<h3>Transfusion Volume</h2>
					<ng-form name="nestedForm"  class="row">
					<div class="form-group">
						<label>Recipient weight (kg)</label>
						<input type="number" class="form-control" required ng-model="dog.weight" />
					</div>
					<div class="form-group">
						<label>Recipient PCV (%)</label>
						<input type="number" class="form-control" required ng-model="dog.recipientPCV" />
					</div>
					<div class="form-group">
						<label>Donor PCV (%)</label>
						<input type="number" class="form-control" required ng-model="dog.donorPCV" />
					</div>
					<div class="form-group">
						<label>Desired PCV (%)</label>
						<input type="number" class="form-control" required ng-model="dog.desiredPCV" />
					</div>
					<h3>Volume = {{getTransfusionVolume(dog) | number:0}} ml</h3>
					</ng-form>
				</div>
				<div class="col-lg-6">
					<h3>Expected PCV</h2>
					<ng-form name="nestedForm"  class="row">
					<div class="form-group">
						<label>Recipient weight (kg)</label>
						<input type="number" class="form-control" required ng-model="dog.weight" />
					</div>
					<div class="form-group">
						<label>Recipient PCV (%)</label>
						<input type="number" class="form-control" required ng-model="dog.recipientPCV" />
					</div>
					<div class="form-group">
						<label>Donor PCV (%)</label>
						<input type="number" class="form-control" required ng-model="dog.donorPCV" />
					</div>
					<div class="form-group">
						<label>Transfusion volume (ml)</label>
						<input type="number" class="form-control" required ng-model="dog.transfusionVolume" />
					</div>
					<h3>PCV = {{getPCV(dog) | number:0}} %</h3>
					</ng-form>
				</div>
				</uib-tab>
				<uib-tab index="1" heading="For Cat">
				<div class="col-lg-6">
					<h3>Transfusion Volume</h2>
					<ng-form name="nestedForm"  class="row">
					<div class="form-group">
						<label>Recipient weight (kg)</label>
						<input type="number" class="form-control" required ng-model="cat.weight" />
					</div>
					<div class="form-group">
						<label>Recipient PCV (%)</label>
						<input type="number" class="form-control" required ng-model="cat.recipientPCV" />
					</div>
					<div class="form-group">
						<label>Donor PCV (%)</label>
						<input type="number" class="form-control" required ng-model="cat.donorPCV" />
					</div>
					<div class="form-group">
						<label>Desired PCV (%)</label>
						<input type="number" class="form-control" required ng-model="cat.desiredPCV" />
					</div>
					<h3>Volume = {{getTransfusionVolume(cat) | number:0}} ml</h3>
					</ng-form>
				</div>
				<div class="col-lg-6">
					<h3>Expected PCV</h2>
					<ng-form name="nestedForm"  class="row">
					<div class="form-group">
						<label>Recipient weight (kg)</label>
						<input type="number" class="form-control" required ng-model="cat.weight" />
					</div>
					<div class="form-group">
						<label>Recipient PCV (%)</label>
						<input type="number" class="form-control" required ng-model="cat.recipientPCV" />
					</div>
					<div class="form-group">
						<label>Donor PCV (%)</label>
						<input type="number" class="form-control" required ng-model="cat.donorPCV" />
					</div>
					<div class="form-group">
						<label>Transfusion volume (ml)</label>
						<input type="number" class="form-control" required ng-model="cat.transfusionVolume" />
					</div>
					<h3>PCV = {{getPCV(cat) | number:0}} %</h3>
					</ng-form>
				</div>
				</uib-tab>
				<uib-tab index="2" heading="Reference">
				<div class="col-lg-12">
					<h3>
					<pre>Volume of blood to be transfused =
                       85(Dogs)  Desired PCV - Recipient PCV
Recipient Weights(kg) x   or   x <span style=" width: 194px; border-bottom: 1px solid black; display: inline-block;"></span>
                       60(Cats)          Donor PCV</pre>
					</h3>
					<dl>
						<dd><small><i>Refence:BASAVA Hematology and Transfusion medicine</i></small></dd>
					</dl>
				</div>
				</uib-tab>
				</uib-tabset>
			</form></div>
			<footer class="bs-docs-footer" role="contentinfo">
				<div class="container">
					<dl class="col-lg-12">
						<dt>杜博動物診所</dt>
						<dd>台中市南區國光路379巷2號</dd>
						<dd>04-22859500</dd>
						<dd>0987005995</dd>
					</dl>
					<p class="text-right col-lg-12">created by 陳星銘</p>
				</div>
			</footer>
			<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
			<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
			<script type="text/javascript" src="../libs/ui-bootstrap.js"></script>
			<script type="text/javascript" src="../libs/ui-bootstrap-tpls.js"></script>
			<script src="../scripts/bloodTransfusionCalculator.js"></script>
		</body>
	</html>